In [1]:
#Q1

for i in range(4):
    for j in range(i+1):
        print('ineruon ',end='')
    print()

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [2]:
#Q2

for i in range(3):
    for j in range(2-i):
        print('    ',end='')
    for k in range(i+1):
        print('ineuron  ',end='')
    print()

for x in range(2):
    for y in range(x+1):
        print('    ',end='')
    for z in range(2-x):
        print('ineuron  ',end='')
    print()

        ineuron
    ineuron  ineuron
ineuron  ineuron  ineuron
    ineuron  ineuron
        ineuron

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#Q3 Try to extract all the list entity

for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [5]:
#Q4 Try to extract all the dict enteties

for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#Q5 Try to extract all the tuples entities

for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [29]:
#Q6 Try to extract all the numerical data it may b a part of dict key and values 

for i in l:
    for j in i:
        if type(j)==int:
            print(j)
        if type(i)==dict:
            if type(i[j])==int:
                print(i[j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [34]:
#Q7 Try to give summation of all the numeric data 

l1=[]

for i in l:
    for j in i:
        if type(j)==int:
            l1.append(j)
        if type(i)==dict:
            if type(i[j])==int:
                l1.append(i[j])   
b=sum(l1)
b

156

In [54]:
#Q8 Try to filter out all the odd values out all numeric data which is a part of a list 

l1=[]

for i in l:
    for j in i:
        if type(j)==int:
            l1.append(j)
        if type(i)==dict:
            if type(i[j])==int:
                l1.append(i[j]) 
l2=[]
for k in l1:
    if (k%2)==0:
        l2.append(k)
                
l2

[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [74]:
#Q9 Try to extract "ineruon" out of this data

l[4]['k2'] , l[5][0]

('ineuron', 'ineuron')

In [91]:
#Q10 Try to find out a number of occurances of all the data 
v=[]
for i in l:
    for j in i:
        v.append(j)
        if type(i)==dict:
            v.append(i[j])
            
for n in set(v):
    print(n,':',v.count(n))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
ineuron : 2
kumar : 1
8 : 1
k1 : 1
45 : 1
k3 : 1
23 : 1
data science  : 1
k2 : 1

In [129]:
#Q11 Try to find out number of keys in dict element

for i in l:
    if type(i)==dict:
        print(len(i.keys()))

5

In [133]:
#Q12 Try to filter out all the string data 

for i in l:
    for j in i:
        if type(j)==str:
            print(j)
        if type(i)==dict:
            if type(i[j])==str:
                print(i[j])

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [157]:
# Q13 Try to Find  out alphanum in data

In [38]:
for i in l:
    if type(i)==int:
        print(i)
    for j in i:
        if type(j)==int:
            print(j)
        if type(j)==str:
            if j.isalnum()==True:
                print(j)
    if  type(i)==dict:
        a=list(i.values())
        for z in a:
            if type(z)==int:
                print(z)
            if type(z)==str:
                if z.isalnum()==True:
                    print(z)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
k2
k3
3
7
sudh
ineuron
kumar
6
8
ineuron

In [83]:
#Q14 Try to find out multiplication of all numeric value in  the individual collection inside dataset 

m=1
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                m=m*j
            
print('multiplication of numbers in list is ',m)

n=1
for k in l:
    if type(k)==tuple:
        for p in k:
            if type(p)==int:
                n=n*p
print('multiplication of numbers in tuple is ',n)

q=1
for e in l:
    if type(e)==set:
        for f in e:
            if type(f)==int:
                q=q*f
print('multiplication of numbers in set is ',q)

a=1
for g in l:
    if type(g)==dict:
        b=list(g.items())
        for h in b:
            for w in h:
                if type(w)==int:
                    a=a*w
                
print('multiplication of numbers in set is ',a)

multiplication of numbers in list is  24
multiplication of numbers in tuple is  1814400
multiplication of numbers in set is  20700
multiplication of numbers in set is  1008

In [15]:
#Q15 Try to unwrape all the collection inside collection and create a flat list 

l5=[]
for i in l:
    for j in i:
        if type(i)==int:
            l5.append(i)
        elif type(i)==list or type(i)==tuple or type(i)==set:
            l5.append(j)
for r in l:
    if type(r)==dict:
        b=list(r.items())
        for z in b:
            for y in z:
                l5.append(y)

l5

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science ',
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]